/* CONFIGURACIÓN DE LA PÁGINA EN GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
li{
    list-style: none; 
}

a{
    text-decoration: none;
}

*{
    color: white;
    margin: 0;
    padding: 0;
    font-family: Urbanist, sans-serif;
    font-size: 20px;
}

body::-webkit-scrollbar {
    width: 0; /* elimino la scrollbar */
}

html{
    scroll-behavior: smooth; /* suavizo el scroll en la página */
}

html, body {
    min-height: 100%;
}

body{
    width: 100%;
    text-align: center;
}

.footer{
    position:fixed;
    bottom: 0;
    right: 0;
    left: 0;

    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
    transition: 0.5s;
}

h2{
    font-size: 30px;
    transition: 0.2s;
}
/* ------------------------ */


/* PÁGINA INICIO */
.container-uno {
    padding-top: 120px;
    width: auto;
    height: 100vh;
    background-image: linear-gradient(rgba(5,10,5,0.8), rgba(43, 40, 90, 0.8)), url(/img/fondo3.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* PÁGINA PROYECTOS */
.container-dos {
    margin-bottom: 0;
    padding-top: 110px;
    padding-bottom: 90px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(5,10,5,0.8), rgba(43, 40, 90, 0.8)), url(/img/fondo1.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* PÁGINA CONTÁCTAME */
.container-tres {
    margin-top: 0;
    padding-top: 110px;
    width: 100%;
    height: 87vh;
    background-image: linear-gradient(rgba(5,10,5,0.8), rgba(43, 40, 90, 0.8)), url(/img/fondo2.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content:space-between;
}
/* ------------------------ */


/* PRESENTACIÓN FORMATO*/
.container-uno {
    display: flex;
}
.container-presentacion {
    display: block;
    margin: auto;
    justify-content: center;
    padding-bottom: 270px;
    position: relative;
    transition: 1s;
}

.alesiolopez {
    transition: 1s;
    margin: 10px 0;
}

.container-presentacion {
    margin: auto;
}

.container-presentacion:hover h1{
    transform:scale(1.2);
    color: lightblue;
    transition: 1s;
}

.descripcion {
    width: 600px;
}

/* CONTÁCTAME FORMATO */
.container-tres h1 {
    margin: auto;
}

.container-contactame {
    margin: 45px auto;
    width: 80%;
    display:flex; /* pone a cada elemento dentro de proyectos uno al lado del otro */
    justify-content: space-evenly;
    box-shadow: 0 0 10px lightblue;
    padding: 100px 20px;
}

.container-contactame input {
    padding: 0 10px;
    color: black;
    width: 300px;
    height: 50px;
    border-radius: 5px;
}

.container-contactame textarea {
    padding: 0 10px;
    color: black;
    width: 300px;
    height: 50px;
    border-radius: 5px;
}

.container-contactame label {
    display: block;
}


/* ------------------------- */

/* BARRA DE NAVEGACIÓN */
.container-nav {
    position: fixed;
    height: auto;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    margin: auto;
    width: 80%;
    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    transition: 0.4s;
}

.logo{
    width: 130px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none; 
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.2rem;
}

/* creo la linea debajo de cada item */
.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%; /* hago que no tenga ancho */
    background: lightblue;
    box-shadow: 0px 0px 10px white;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.3s ease-out; /* aplicamos una transición a la linea */
}

.navbar ul li:hover::before {
    width: 100%; /* y cuando pase el mouse por encima se le agregue el 100% del ancho. */
}

/* al hacer scroll */
.navbar-scroll{
    padding: 0;
    height: 100px;
    width: 100%;
    justify-content: space-evenly;
    background: rgba(45, 45, 45, 0.5);
}

.logo-scroll{
    transform: scale(0.8);
    cursor: pointer;
}

.off-nav {
    transform: translateY(-300px);
}
/* ------------------------ */


/* LINKS CONTÁCTAME */

.redes-contacto ul li {
    list-style: none; 
    display: block;
    margin: 5px 20px;
    position: relative;
}

.datos-contacto ul li {
    list-style: none; 
    display:block;
    margin: 5px 20px;
    position: relative;
}

.redes-contacto ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    align-items:center;
}

.datos-contacto ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    align-items: center;
}

/* Linea subrayado */
.redes-contacto ul li::before {
    content: "";
    height: 3px;
    width: 0%; /* hago que no tenga ancho */
    background: lightblue;
    box-shadow: 0px 0px 10px white;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.3s ease-out; /* aplicamos una transición a la linea */
}

.redes-contacto ul li:hover::before {
    width: 100%; /* y cuando pase el mouse por encima se le agregue el 100% del ancho. */
}

.datos-contacto ul li::before {
    content: "";
    height: 3px;
    width: 0%; /* hago que no tenga ancho */
    background: lightblue;
    box-shadow: 0px 0px 10px white;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.3s ease-out; /* aplicamos una transición a la linea */
}

.datos-contacto ul li:hover::before {
    width: 100%; /* y cuando pase el mouse por encima se le agregue el 100% del ancho. */
}


/* ------------------------ */

/* Botones */
.btn_normal {
    color: lightblue;
    background: transparent;
    padding: 10px 100px;
    margin: 23px 0;
    cursor: pointer;
    border: 2px solid lightblue;
    border-radius: 50px;
    transition: 0.2s ease-out;
}

.btn_normal:hover {
    color: black;
    background: lightblue;
    box-shadow: 0 0 20px lightblue;
}

.btn_normal:active {
    transform: scale(1.05);
}

/* -----------------CONTENIDO--------------- */

.proyectos{
    margin: 45px auto;
    width: 80%;
    display:flex; /* pone a cada elemento dentro de proyectos uno al lado del otro */
    justify-content:space-between;
}

.container-dos img {
    min-width: 300px;
    max-width: 300px;
    min-height: 181px;
    max-height: 181px;
    margin-left: 5px;
    transition: 1s;
}

.proyectos:hover img {
    transform: scale(1.05);
    transition: 1s;
}

/* ------------------------------------------------------ */
/* -----------------------MEDIA QUERY------------------------ */

@media only screen and (max-width: 700px) {
    .navbar{
        display: block;
        height: auto;
    }
    .logo{
        width: 60px;
        cursor: pointer;
    }
    .proyectos{
        margin: 45px auto;
        width: 80%;
        display:block; /* pone a cada elemento dentro de proyectos uno al lado del otro */
        justify-content:space-between;
    }
}

@media only screen and (max-width: 460px){
    .container-nav{
        
        position: absolute;
        left: 0;
    }
    .navbar{
        display: block;
        height: auto;
        width: 150px;
    }
    .logo{
        width: 60px;
        cursor: pointer;
    }
    .container-presentacion{
        position: absolute;
        margin: 220px 20px;
        left: -120px;
    }
    .proyectos{
        margin: auto;
        width: auto;
        display:block; /* pone a cada elemento dentro de proyectos uno al lado del otro */
        justify-content:space-between;
    }

    .container-dos img {
        transform: scale(0.7);
    }

    .container-tres {
        height: 95vh;
    }

    .container-contactame{
        height: auto;
    }

    .footer{
        left: -100px;
    }
}